body{
    background-image: linear-gradient(to right, #a1cff5 , #cff5ce);;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

#container{
    display: flex;
    align-content: center;
    justify-content: center;
}